<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
>
	<head>
		<meta charset="ISO-8859-1" />
		<title>Error page</title>
	</head>
	<body>
		
		<h2>Application Error, please contact support.</h2>
		
		<h3>Debug Information:</h3>
		
		<span th:text="'Requested URL= ' + ${url}"></span><br><br>
		
		<span th:text="'Exception= ' + ${exception}"></span><br><br>
		
		<strong>Exception Stack Trace: </strong><br>
		<div th:each="ste : ${exception}">
			<span th:text="${ste}"></span>
		</div>
	

	</body>
</html>