<!DOCTYPE html>
<html layout:decorator="customer/layout/layout">

	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/customer-util.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/customer-main.css}" />
		<!-- <style type="text/css">
			h4 {
				color:#ffffff
			}
			div.fpm	{
				color:#a8d5d7
			}
		</style> -->

		<script type="text/javascript">

			function forgetpswdisable(){
				   $("#forgetpswsubmit").text("submitting...");
				   $("#forgetpswsubmit").attr("disabled","disabled");
				   //alert("pause");
				   $("#passwordRetrieval").submit();
		   	}
		</script>
	</head>

	<body>
		<div layout:fragment="content" id="content-wrapper">
			<div class="container-login100">
				<div class="col-lg-12">
						<form name="passwordRetrieval" id="passwordRetrieval"
							th:action="@{/customer/login/forgetPassword}" method="post"
							th:object="${forgetpasswordForm}"
							class="form-validate form-horizontal">
							<h4>Forgot Your Password?</h4>
							<div th:if="${message != null and #strings.length(message.message) != 0}" th:class="${message.status}">
								<font style="font-size: 12px;"><span th:utext="${message.message}" th:remove="tag"/></span></font>
							</div>
							<div class="form-group" th:text="#{student.forget.title}+':'"></div>
									<!--  <div class="fpm" th:text="#{student.forget.username}+':'"></div>-->
							<div class="form-group">
							    <label for="firstname" class="control-label col-lg-3">Username<span class="req">*</span> </label>
							    <div class="col-lg-6">
							        <input class=" form-control" th:field="*{username}" type="text" />
							    </div>
							</div>
							<div class="form-group">
							    <label for="firstname" class="control-label col-lg-3">Email<span class="req">*</span> </label>
							    <div class="col-lg-6">
							        <input class=" form-control" th:field="*{email}" type="text" required autocomplete="off" />
							    </div>
							</div>
									<!-- <div class="field-wrap">
										<label>
											User Name<span class="req">*</span>
										</label>
										<input type="text" class="input" th:field="*{username}" required autocomplete="off"/>
									</div> -->

									<!-- <div class="field-wrap">
										<label>
											Email
											<span class="req">*</span>
										</label>
										<input type="text" class="input" th:field="*{email}" required autocomplete="off"/>
									</div> -->
							<div class="form-group">
								<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
								<button type="submit" class="btn btn-primary" id="forgetpswsubmit" th:text="#{student.forget.submit}" name="retrievePwd" onclick="forgetpswdisable();"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>