<!DOCTYPE html>
<html layout:decorator="customer/layout/layout">
<head>

	<!-- check if same password at customer -->
	<script type="text/javascript">

	function checkpsw(){
		var psw1=document.getElementById("rstpsw1").value;
		var psw2=document.getElementById("rstpsw2").value;

		if(psw1==psw2) {
			document.getElementById("errorpsw").style.display="none";
		}
		else {
			document.getElementById("errorpsw").style.display="block";
			//document.getElementById("rstpsw1").value="";
			document.getElementById("rstpsw2").value="";
			}
			}
	</script>
	</head>

	<div layout:fragment="content">
	<div class="mt_mainContent" style="width:750px;">
		<div class="center parsys">
			<div class="parsys uiwSlideshow uiGallery section">

				<div id="toolbarObj21180555" class="allToolbarSelector"></div>

				<style>
					#component21180555 .nivo-main-image{

					}
				</style>
			</div>
			<div class="columns section uiwColumns">

				<div id="toolbarObj1646786130" class="allToolbarSelector"></div>

				<div id="component1646786130"  class="columnsComponent">
					<div class="wholeGrid">
						<div class="colCount colCount_0_0" style="float:left;width:672px;" >
							<div style="padding-top:-1px;margin-top:1px;">
								<div class="parsys conContainer_0_0">
									<div class="uiwText text parbase section">
										<div id="toolbarObj765244374" class="allToolbarSelector"></div>
										<div>
											<div style="font-size:1.2em; width:50em;">
											<h4 style=color:#66CDAA>To Reset Your Password Please Complete The Following:</h4>
											<div style="margin-left: 100px; margin-top: 10px; border: solid 1px #b6b6b6; width: 400px; min-height: 280px; background-color: #f5f8fa; overflow: hidden;">
												<div style="width: 50px; height: 260px; float:left; background-color: #f5f8fa; "></div>
												<div style="width: 300px; float: left; padding-top: 20px; background-color: #f5f8fa;">
													<br/>*** All fields are required ***
													<form name="login" id="login" th:action="@{/customer/updatePassword}" method="post" th:object="${passwordUpdateForm}" style="margin:0; background-color: #f5f8fa;">
														<div th:if="${message != null and #strings.length(message.message) != 0}" th:class="${message.status}">
															<font th:text="${message.message}" style="font-size: 12px;"></font>
														</div>
						 								<div th:text="#{student.forget.title}+':'"></div>

														<div th:text="#{student.activation.password}+':'"></div>
						 								<div>
						 									<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert-inline alert-danger"></div>
						 									<input type="password" id="rstpsw1" th:field="*{password}" class="olusername" />
														</div>

						 								<div th:text="#{student.activation.passwordRepeated}+':'"></div>
						 								<div>
						 									<div th:if="${#fields.hasErrors('passwordRepeated')}" th:errors="*{passwordRepeated}" class="alert-inline alert-danger"></div>
						 									<input type="password" onmouseout="checkpsw();" id="rstpsw2" th:field="*{passwordRepeated}" class="olusername" />
														<span id="errorpsw" style="display:none;color:red;font-size:12px;">the password must be identical to the above</span>
														</div>

														<div><input name="submit" type="submit" value="SUBMIT" class="rbutton" /></div>
														<input type="hidden" id="username" name="username" th:value="${username}" />
														<input type="hidden" id="userid" name="userid" th:value="${userid}" />
														<input type="hidden" id="token" name="token" th:value="${token}" />
													</form>
												</div>
												<!--  <div style="width: 50px; height: 290px; float:left; background-color: #f5f8fa; "></div>-->
											</div>
											<br /><br /><br />
										</div>
									 </div>

									<div class="uiwNewsList section">
										<div id="toolbarObj182631935" class="allToolbarSelector"></div>
									</div>
								</div>
							</div>
						</div>
	       			</div>
					<div style="clear:both;"></div>
	        		<div style="clear:both;"></div>
	     			<div style="clear:both;"></div>
				</div>
			</div>

		</div>
</div>
	</div>

	<div class="mt_rightFeature" style="width:0px;">
		<style>
		#componentRIGHT .rightContainer{
		margin-right:10px;
		}
		</style>

		<div id="componentRIGHT">
			<div class="rightContainer">
			</div>
		</div>
	</div>

</html>