<html layout:decorator="client/template/login_layout">
	<div layout:fragment="content"> 
	
	  <div class="mt_mainContent" style="width:750px;">  
	<div class="center parsys">
			<div class="parsys uiwSlideshow uiGallery section">

				<div id="toolbarObj21180555" class="allToolbarSelector"></div>

				<style>
					#component21180555 .nivo-main-image{

					}
				</style>
			</div>
			<div class="columns section uiwColumns">

				<div id="toolbarObj1646786130" class="allToolbarSelector"></div>

				<div id="component1646786130"  class="columnsComponent">
					<div class="wholeGrid">
						<div class="colCount colCount_0_0" style="float:left;width:672px;" >
							<div style="padding-top:-1px;margin-top:1px;">
								<div class="parsys conContainer_0_0">
									<div class="uiwText text parbase section">
										<div id="toolbarObj765244374" class="allToolbarSelector"></div>
										<div>  
										<div style="min-height:300px;">
											
												<h4 style="color:#66CDAA">Your request on password reset has been processed successfully!</h4>
												<br/>
												<p style="color:#66CDAA">Please check your Email and follow the instruction to complete the password reset process.</p>
												<br/><br/>
											</div>
										 </div>
									 </div>

									<div class="uiwNewsList section">
										<div id="toolbarObj182631935" class="allToolbarSelector"></div>
									</div>
								</div>
							</div>
						</div>
	       			</div>
					<div style="clear:both;"></div>
	        		<div style="clear:both;"></div>
	     			<div style="clear:both;"></div>
				</div>
			</div>

		</div>

	</div>

	<div class="mt_rightFeature" style="width:0px;">
		<style>
		#componentRIGHT .rightContainer{
		margin-right:10px;
		}
		</style>

		<div id="componentRIGHT">
			<div class="rightContainer">
			</div>
		</div>
	</div>
	</div>

</html>