<!DOCTYPE html>
<html layout:decorator="store/admin/layout/layout">
	<div layout:fragment="content">

		<section class="content-header">
			<h1>
				Setting Management
				<small>List Countries</small>
			</h1>
			<ol class="breadcrumb">
				<li><a th:href="@{/store/admin/home}"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a th:href="@{/store/admin/countries}"><i class="fa fa-cubes"></i>Settings</a></li>
				<li><i class="fa fa-file-text-o"></i><span th:text="${country==null?'New Country':'Modify Country'}"></span></li>
			</ol>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-lg-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title" th:text="${country==null?'New Country':'Modify Country'}"></h3>
						</div>

						<div class="box-body">
							<div class="form">
								<form class="form-validate form-horizontal " id="country" name="country" method="post" th:action="@{/store/admin/country}">
									<div class="form-group">
									    <label for="name" class="control-label col-lg-2">Name <span class="required">*</span></label>
									    <div class="col-lg-10">
									        <input class=" form-control" id="name" name="name" th:value="${country==null?'':country.name}" type="text" />
									    </div>
									</div>
									<div class="form-group">
									    <label for="description" class="control-label col-lg-2">Code </label>
									    <div class="col-lg-10">
									        <input class=" form-control" id="code" name="code" th:value="${country==null?'':country.code}" type="text" />
									    </div>
									</div>
									<div class="form-group">
									    <div class="col-lg-offset-2 col-lg-10">
									        <button class="btn btn-primary" type="submit"> Save </button>
									        <a th:href="@{/store/admin/countries}" class="btn btn-primary btn-label-left"><span><i class="fa fa-remove"></i></span> Cancel</a>
									        <input type="hidden" id="countryid" name="countryid" th:value="${country==null?'':country.countryid}" />
									    </div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
      <!--main content end-->
	</div>
</html>