<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="store/admin/layout/layout">

	<div layout:fragment="content">

		<section class="content-header">
			<h1>
				Gift Cards
				<small>Sales Management</small>
			</h1>
			<ol class="breadcrumb">
				<li><a th:href="@{/store/admin/home}"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a th:href="@{/store/admin/giftcards}"><i class="fa fa-cubes"></i>Gift Cards</a></li>
				<li><i class="fa fa-file-text-o"></i><span th:text="${giftcard==null?'New Gift Card':'Modify Gift Card'}"></span></li>
			</ol>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-lg-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title" th:text="${giftcard==null?'New Gift Card':'Modify Gift Card'}"></h3>
						</div>

						<div class="box-body">

							<div class="form">
								<div class="form-group" th:if="${message!=null}" style="margin-bottom: 20px; margin-left: 5px;">
									<span class="alert alert-danger col-lg-offset-2" id="error" th:text="${message}"></span>
								</div>
								<form class="form-validate form-horizontal" id="giftcard" name="giftcard" method="post" th:action="@{/store/admin/giftcard}">
									<div class="form-group">
									    <label for="code" class="control-label col-lg-2">Gift Card Code <span class="required">*</span></label>
									    <div class="col-lg-10">
									        <input class=" form-control" id="code" name="code" th:value="${giftcard==null?'':giftcard.code}" type="text" />
									    </div>
									</div>
									<!-- <div class="form-group">
									    <label for="pin" class="control-label col-lg-2">Pin Number </label>
									    <div class="col-lg-10">
									        <input class=" form-control" id="pin" name="pin" th:value="${giftcard==null?'':giftcard.pin}" type="password" />
									    </div>
									</div> -->
									<div class="form-group">
									    <label for="amount" class="control-label col-lg-2">Initial Amount </label>
									    <div class="col-lg-10">
									        <input class=" form-control" id="amount" name="amount" th:value="${giftcard==null or giftcard.amount==null?'':#numbers.formatDecimal(giftcard.amount, 0, 2)}" type="text" />
									    </div>
									</div>
									<div class="form-group" th:if="${giftcard!=null and giftcard.giftcardid!=0}">
									    <label for="balance" class="control-label col-lg-2">Balance </label>
									    <div class="col-lg-10">
									        <input class="form-control " id="balance" name="balance" type="text" th:value="${giftcard==null or giftcard.balance==null?'':#numbers.formatDecimal(giftcard.balance, 0, 2)}" />
									    </div>
									</div>
									<div class="form-group">
									    <label for="storeid" class="control-label col-lg-2">Store </label>
									    <div class="col-lg-10">
											<select class="form-control" id="storeid" name="storeid">
												<option th:each="store: ${stores}" th:value="${store.storeid}" th:text="${store.name}" th:selected="${giftcard!=null and giftcard.store!=null and giftcard.store.storeid==store.storeid}"></option>
											</select>
									    </div>
									</div>
									<div class="form-group">
									    <label for="pin" class="control-label col-lg-2">Status </label>
									    <div class="col-lg-10">
									    	<select class=" form-control" id="statusid" name="statusid">
									    		<option th:each="status : ${statuss}" th:value="${status.statusid}" th:text="${status.name}" th:selected="${giftcard!=null and giftcard.status!=null and giftcard.status.statusid==status.statusid}"></option>
									    	</select>
									    </div>
									</div>
									<div class="form-group">
									    <div class="col-lg-offset-2 col-lg-10">
									        <button class="btn btn-primary" type="submit"> Save </button>
									        <a th:href="@{/store/admin/giftcardbalance}" class="btn btn-primary btn-label-left"><span><i class="fa fa-remove"></i></span> Cancel</a>
									        <input type="hidden" id="giftcardid" name="giftcardid" th:value="${giftcard==null?'':giftcard.giftcardid}" />
									    </div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
      <!--main content end-->
	</div>
</html>