<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
		<meta charset="ISO-8859-1" />
		<title>Receipt</title>
	</head>
	<body>
		<div>
			<div>
				<H4>         My Pairs</H4>
				<H5>3303 Bayview Ave, North York, ON</H5>
				<H5>Phone: 416-730-1356</H5>
				<H5>Date: <script> document.write(new Date().toDateString()); </script></H5>
				<p th:if="${invoice!=null and invoice.invoicenum!=null}" th:text="'Invoice Number: '+${invoice.invoicenum}"></p>
			</div>
			<div>
				<ul>
					<li th:each="inventory: ${saleList}">
						<span th:text="${inventory.item.product.name}+'   '+${inventory.item.product.modelnum}+' ('+${inventory.item.size.region.code}+${inventory.item.size.sizenum}+')'"></span><br />
						<span th:text="'Price: $'+${inventory.item.product.finalprice}"></span>
					</li>
				</ul>
				<p th:text="'Sub-Total: $' + ${subTotal}"></p>
				<p th:text="'Tax(13%):  $' + ${tax}"></p>
				<p th:text="'Total:     $' + ${total}"></p>
			</div>
			<div>
				<H5>**RETURN POLICY**</H5>
				<H5>Exchange/credit/refund within</H5>
				<H5>30 days with original receipt</H5>
				<H5>THANK YOU!</H5>
			</div>
		</div>
		<a href="javascript: window.print()" class="btn btn-primary btn-label-left">Print</a>
		<a href="javascript: self.close()" class="btn btn-primary btn-label-left">Close</a>
	</body>
</html>