<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="store/admin/layout/layout">

	<div layout:fragment="content">

		<section class="content-header">
			<h1>
				Product Management
				<small>List Provinces</small>
			</h1>
			<ol class="breadcrumb">
				<li><a th:href="@{/store/admin/home}"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a th:href="@{/store/admin/provinces}"><i class="fa fa-cubes"></i>Products</a></li>
				<li><i class="fa fa-file-text-o"></i><span th:text="${province==null?'New Province':'Modify Province'}"></span></li>
			</ol>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-lg-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title" th:text="${province==null?'New Province':'Modify Province'}"></h3>
						</div>

						<div class="box-body">
							<div class="form">
								<form class="form-validate form-horizontal " id="province" name="province" method="post" th:action="@{/store/admin/province}">
									<div class="form-group">
									    <label for="name" class="control-label col-lg-2">Name <span class="required">*</span></label>
									    <div class="col-lg-10">
									        <input class=" form-control" id="name" name="name" th:value="${province==null?'':province.name}" type="text" />
									    </div>
									</div>
									<div class="form-group">
									    <label for="description" class="control-label col-lg-2">Code </label>
									    <div class="col-lg-10">
									        <input class=" form-control" id="code" name="code" th:value="${province==null?'':province.code}" type="text" />
									    </div>
									</div>
									<div class="form-group">
									    <label for="cityid" class="control-label col-lg-2">Country </label>
									    <div class="col-lg-10">
											<select class="form-control" id="countryid" name="countryid">
												<option th:each="country: ${countries}" th:value="${country.countryid}" th:text="${country.name}" th:selected="${province!=null and province.country!=null and province.country.countryid==country.countryid}"></option>
											</select>
									    </div>
									</div>
									<div class="form-group">
									    <div class="col-lg-offset-2 col-lg-10">
									        <button class="btn btn-primary" type="submit"> Save </button>
									        <a th:href="@{/store/admin/provinces}" class="btn btn-primary btn-label-left"><span><i class="fa fa-remove"></i></span> Cancel</a>
									        <input type="hidden" id="provinceid" name="provinceid" th:value="${province==null?'':province.provinceid}" />
									    </div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
      <!--main content end-->
	</div>
</html>