<!DOCTYPE html>
<html layout:decorator="store/admin/layout/layout">
	<div layout:fragment="content">

		<link rel="stylesheet" th:href="@{/css/jquery-ui-1.12.1.css}" />

		<style>
			.table thead > tr > td {
				padding: 4px;
			}
			.table tbody > tr > td {
				height: 20px;
				padding: 2px;
			}
			horz-form {

			}
		</style>

		<section class="content-header">
			<h1>
				Business Management
				<small>Point of Sales</small>
			</h1>
			<ol class="breadcrumb">
				<li><a th:href="@{/store/admin/home}"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a th:href="@{/store/admin/sales}"><i class="fa fa-cubes"></i>Products</a></li>
				<li><i class="fa fa-file-text-o"></i><span th:text="${'New Sale'}"></span></li>
			</ol>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-lg-12">
					<div class="box">
						<!-- <div class="box-header">
							<h3 class="box-title" th:text="${'New Sale'}"></h3>
						</div> -->

						<div class="box-body">
							<div style="border-style: double;border-width: 5px;border-color: lightgrey; height: 100%;">
								<!-- Top customer info -->
								<div style="overflow: hidden; border-bottom-style:double;border-bottom-width: 5px;border-bottom-color: lightgrey;">
									<div style="width: 88%;float: left;">
										<div style="border-bottom-style:double;border-bottom-width: 3px;border-bottom-color: lightgrey;padding: 5px; background-color: lightblue;">
											<h4>Point of Sale</h4>
										</div>
										<div style="padding: 5px;background-color:#DEEFF5;">
											<table width="100%">
												<tr>
													<td><label style="width:16%">Name:</label> <span th:text="${customer==null or customer.user==null?'':customer.user.firstname+' '+customer.user.lastname}"></span></td>
													<td><label style="width:16%">Home Phone:</label> <span th:text="${customer==null or customer.user==null?'':customer.user.phone}"></span></td>
												</tr>
												<tr>
													<td><label style="width:16%">Address:</label> <span th:text="${customer==null or customer.user==null?'':customer.address.street}"></span></td>
													<td><label style="width:16%">Mobile:</label> <span th:text="${customer==null or customer.user==null?'':customer.user.cell}"></span></td>
												</tr>
												<tr>
													<td><label style="width:16%">City/Province:</label> <span th:text="${customer==null or customer.user==null?'':customer.address.city.name+', '+customer.address.city.province.name}"></span></td>
													<td><label style="width:16%">Email:</label> <span th:text="${customer==null or customer.user==null?'':customer.user.email}"></span></td>
												</tr>
												<tr>
													<td><label style="width:16%">Postal Code:</label> <span th:text="${customer==null or customer.user==null?'':customer.address.postalcode}"></span></td>
													<td><label style="width:16%">Start From:</label> <span th:text="${customer==null or customer.user==null?'':#dates.format(customer.user.creationdate, 'MMMM dd, yyyy')}"></span></td>
												</tr>
											</table>
										</div>
									</div>
									<div style="width: 12%; border-left-style:double;border-left-width: 3px;border-left-color: lightgrey;float: left; height: 100%; padding-bottom: 1500px;margin-bottom: -1500px;">
										<div style="margin: auto; width: 66%;padding: 3px;">
											<button type="button" class="btn btn-xs btn-primary" id="find" > Find Customer</button><!-- onclick="findCustomer()" -->
										</div>
										<div style="margin: auto; width: 66%;padding: 3px;">
											<button type="button"  class="btn btn-xs btn-primary" onclick="addCustomer()"> Add  Customer</button>
										</div>

									</div>
								</div>
								<!-- Customer shopping history -->
								<div style="border-bottom-style:double;border-bottom-width: 5px;border-bottom-color: lightgrey;height: 36%; min-height: 60px;">
									<table class="table table-striped" style="width: 100%">
										<thead style="border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: lightgrey;">
											<tr>
												<th>Date</th>
												<th>Store</th>
												<th>Sales Rep</th>
												<th>Item</th>
												<th>Description</th>
												<th>Size</th>
												<th>Qty</th>
												<th>Price</th>
												<th>Total</th>
											</tr>
										</thead>
										<tbody>
											<tr style="height:20px;">
												<td>1/1/2017</td>
												<td>Victoria</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td>6/23/2017</td>
												<td>Victoria</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- Current Sale -->
								<div style="background-color:#DEEFF5; position: relative;">
									<div style="padding: 5px; width: 100%">
										<form>
										Rep:
										<select style="width: 10%" class="">
											<option value=""></option>
											<option value="">Jason</option>
										</select>
										Item:<input type="text" id="" />
										Qty:
										<select>
											<option value="">1</option>
											<option value="">2</option>
											<option value="">3</option>
											<option value="">4</option>
											<option value="">5</option>
											<option value="">6</option>
										</select>
										Size:
										<select>
											<option value="">35</option>
											<option value="">36</option>
											<option value="">37</option>
											<option value="">38</option>
											<option value="">39</option>
											<option value="">40</option>
										</select>
										Discount:
										<select>
											<option value="">10%</option>
											<option value="">20%</option>
											<option value="">30%</option>
											<option value="">40%</option>
											<option value="">50%</option>
											<option value="">60%</option>
										</select>
										Tx Type:
										<select>
											<option value=""></option>
											<option value="Sale">Sale</option>
											<option value="Exchange">Exchange</option>
											<option value="Return">Return</option>
										</select>
										<buttn type="button" class="btn btn-xs btn-primary"> Add </buttn>
										</form>
									</div>
									<div style="padding: 5px; height: 200px;">
										<table style="width: 100%; background-color: white; border: solid 1px lightgrey;">
											<tr style="border-bottom: 1px solid lightgrey;">
												<th>Sales Rep</th>
												<th>Item</th>
												<th>Qty</th>
												<th>Size</th>
												<th>Discount</th>
												<th>Price</th>
												<th>Cur</th>
												<th>Sell</th>
												<th>Total</th>
												<th>Action</th>
											</tr>
											<tr>
												<td>Jason</td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td><i class="fa fa-edit"></i>  <i class="fa fa-trash-o"></i></td>
											</tr>
										</table>
									</div>
									<div style="position: absolute;right: 10px;bottom:0px;">
										<button type="button" class="btn btn-app btn-primary" ><i class="fa fa-credit-card"></i>Pay Request</button>
										<button type="button" class="btn btn-app btn-primary" ><i class="fa fa-file-text"></i>Print Invoice</button>
									</div>
								</div>
							</div>
							<!-- <div class="form">
								<form class="form-validate form-horizontal " id="brand" name="brand" method="post" th:action="@{/admin/brand}">
									<div class="form-group">
									    <label for="name" class="control-label col-lg-2">Name <span class="required">*</span></label>
									    <div class="col-lg-10">
									        <input class=" form-control" id="name" name="name" th:value="${brand==null?'':brand.name}" type="text" />
									    </div>
									</div>
									<div class="form-group">
									    <label for="description" class="control-label col-lg-2">Description </label>
									    <div class="col-lg-10">
									        <input class=" form-control" id="description" name="description" th:value="${brand==null?'':brand.description}" type="text" />
									    </div>
									</div>
									<div class="form-group">
									    <label for="street" class="control-label col-lg-2">Address </label>
									    <div class="col-lg-10">
									        <input class=" form-control" id="street" name="street" th:value="${mf==null?'':brand.address.street}" type="text" />
									    </div>
									</div>
									<div class="form-group">
									    <label for="cityid" class="control-label col-lg-2">City </label>
									    <div class="col-lg-10">
											<select class="form-control" id="cityid" name="cityid">
												<option th:each="city: ${cities}" th:value="${city.cityid}" th:text="${city.name}" th:selected="${brand==null?'':(brand.address.city.cityid.equals(city.cityid)?'Selected':'')}"></option>
											</select>
									    </div>
									</div>
									<div class="form-group ">
									    <label for="postalcode" class="control-label col-lg-2">Postal Code </label>
									    <div class="col-lg-10">
									        <input class="form-control " id="postalcode" name="postalcode" th:value="${brand==null?'':brand.address.postalcode}" type="text" />
									    </div>
									</div>
									<div class="form-group ">
									    <label for="contact" class="control-label col-lg-2">Contact </label>
									    <div class="col-lg-10">
									        <input class="form-control " id="contact" name="contact" th:value="${brand==null?'':brand.contact}" type="text" />
									    </div>
									</div>
									<div class="form-group ">
									    <label for="phone" class="control-label col-lg-2">Phone </label>
									    <div class="col-lg-10">
									        <input type="text" class="form-control" id="phone" name="phone" th:value="${brand==null?'':brand.phone}" />
									    </div>
									</div>
									<div class="form-group ">
									    <label for="email" class="control-label col-lg-2">Email </label>
									    <div class="col-lg-10">
									        <input class="form-control " id="email" name="email" type="email" th:value="${brand==null?'':brand.email}" />
									    </div>
									</div>
									<div class="form-group ">
									    <label for="website" class="control-label col-lg-2">Web Site </label>
									    <div class="col-lg-10">
									        <input class="form-control " id="website" name="website" type="url" th:value="${brand==null?'':brand.website}" />
									    </div>
									</div>
									<div class="form-group ">
									    <label for="comments" class="control-label col-lg-2">Comments </label>
									    <div class="col-lg-10">
									        <textarea class="form-control " id="comments" name="comments" th:value="${brand==null?'':brand.comments}" ></textarea>
									    </div>
									</div>
									<div class="form-group">
									    <div class="col-lg-offset-2 col-lg-10">
									        <button class="btn btn-primary" type="submit"> Save </button>
									        <button class="btn btn-default" type="button">Cancel</button>
									        <input type="hidden" id="brandid" name="brandid" th:value="${brand==null?'':brand.brandid}" />
									    </div>
									</div>
								</form>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- <div id="dialog-form" class="form" title="Gift Card Balance">
			<form id="giftcard" name="giftcard" method="post" th:action="@{/store/giftcard}">
				<div class="form-group row">
				    <label for="cardnum" class="control-label col-lg-4">Card Number<span class="required">*</span>:</label>
				    <div class="col-lg-8">
				        <input class="form-control" id="cardnum" name="cardnum" th:value="${giftcard==null?'':giftcard.code}" type="text" />
				    </div>
				</div>

				<div class="form-group row">
					<label for="balance" class="control-label col-lg-4">Current Balance: </label>
					<div class="col-lg-8">
						<span id="balance" th:text="${giftcard==null?'':giftcard.balance}"></span>
					</div>
				</div>
			</form>
		</div> -->

		<div id="SearchCustomer" class="form" title="Search Customer">
			<form>
				<div class="SearchTitle">
					<div class="SearchTitleText">Search Content</div>
					<div class="SearchTitleFilterButton">
						<span>Filter:</span>
						<input type="text" id="lastname" name="lastname" class="SearchFilter" />
						<button class="SearchButtonClose" ></button>
					</div>
					<div class="SearchClear"></div>
				</div>
				<div class="SearchContent"></div>
			</form>

			<!-- <div class="panel-body">
				<div class="form" style="overflow:hidden;">
					<form id="customer" name="customer" th:action="@{/store/admin/searchCustomer}" method="get">
						<div style="float:left">
							<label for="lastname">Last Name: </label>
							<input type="text" name="lastname" id="lastname" value="" />
						</div>
						<div style="float:left">
							<label for="phone">Phone No.: </label>
							<input type="text" name="phone" id="phone" value="" />
						</div>
						<div style="float:left">
							<button class="btn btn-sm btn-primary" type="submit">Search</button>
						</div>
					</form>
				</div>
			</div> -->
			<!-- <div th:if="${customers != null and customers.size() > 0}">
				<table>
					<thead>
						<tr>
							<th>Customer</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="customer:${customers}">
							<td><span th:text="${customer.user.firstname+' '+customer.user.lastname}"></span></td>
							<td><button class="btn btn-xs btn-primary" th:onclick="${'selectCustomer('+customer.customerid+')'}">Select</button></td>
						</tr>
					</tbody>
				</table>
			</div> -->
		</div>

		<!--main content end-->
		<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
		<script th:src="@{/js/jquery-ui-1.12.1.js}"></script>
		<script th:src="@{/js/jquery.autocomplete.min.js}"></script>
		<script>
			/* $(document).ready(function() {
			    var token = $("meta[name='_csrf']").attr("content");
			    var header = $("meta[name='_csrf_header']").attr("content");
			    var dialog, form;

				dialog1 = $( "#SearchCustomer" ).dialog({
					dialogClass: 'dialogStyle',
					autoOpen: false,
					resizable: false,
					height: 400,
					width: 350,
					modal: true,
					buttons: {
						Cancel: function() {
							dialog.dialog( "close" );
						}
					},
					close: function() {
						form[ 0 ].reset();
						//allFields.removeClass( "ui-state-error" );
					},
					open: function (event, ui) {
					    $('#SearchCustomer').css('overflow', 'hidden');
					}
				});

				/* form = dialog.find( "form" ).on( "submit", function( event ) {
					alert("DDD")
					event.preventDefault();
					document.getElementById("customer").submit();
				});

				$('#find').click(function(){
				    dialog1.dialog( "open" );
				});

			});

		    function findCustomer() {
				window.open("findCustomer");
			}
			function addCustomer() {
				window.open("addCustomer");
			}
			function selectCustomer(id) {
				//alert("main: " +id)
				location.href="searchCustomer/" + id;
			} */

		//new code
		    $(document).ready(function(){
			    var token = $("meta[name='_csrf']").attr("content");
			    var header = $("meta[name='_csrf_header']").attr("content");
		    	dialog = $('#SearchCustomer').dialog({
    				width: 500,
    				autoOpen: false,
    	            create: function () {
    	                //Get a reference to jquery ui generated element

    	                var widget = $(this).dialog('widget');
    	                //Get a reference to content div
    	                var dialog = $(this);
    	                //Delete the default jquery ui title bar
    	                widget.find('.ui-dialog-titlebar').remove();

    	                //Remove the default padding values for the popup
    	                widget.css('padding', 0).find('.ui-dialog-content').css('padding', 0);

    	                //Use jquery ui styling for our new titlebar
    	                $('.SearchTitle',dialog).addClass('ui-widget-header');

    	                //Position title elements
    	                $('.SearchTitleText',dialog).css('float','left');
    	                $('.SearchTitleFilterButton',dialog).css('float','right');
    	                $('.SearchClear',dialog).css('clear','both');

    	                //Create an event for the search input
    	                $('.SearchFilter',dialog).keyup(function(){
    	                	ShowResults($(this).val(),friends);
    	                });

    	                //Create a close button and allow it to close the popup
    	                $('.SearchButtonClose',dialog).button({
    	                    icons: { primary: 'ui-icon-close' },
    	                    text: false
    	                }).css('width', 12).css('height', 24)

    	                .click(function () {
    	                    dialog.dialog('close');
    	                });

    	                ShowResults('', friends);
    	            }
	    		});

		    	$('#find').click(function(){
		    		$.ajax({
                        url: 'searchCustomer?',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        beforeSend: function(xhr){
                            xhr.setRequestHeader(header, token);
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
        		                return { value: item.name, data: item.productid };
                            }))
                        },
                        error: function (response) {
                        	console.log(response);
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
		    		dialog.dialog( "open" );
				});

	    	});

		    var friends = ["John","Bob","Jones","Tessa","Anna","Casper","Ed","Francis","Greg","Hanna","Ivan" ];

		    function ShowResults(filterText,dataSource) {
		    	var html = ''

		    	$.each(dataSource,function(index,value){

		    		if(filterText.length < 1 || value.toLowerCase().indexOf(filterText)!=-1)
		    		{
		    			html += '<li><a href="#" onClick="SelectResult(this)">'+value+'</a></li>';
		    		}

		    	});

		    	$('#SearchCustomer .SearchContent').html(html==''?'No Results':'<ul class="SearchResults">'+html+'</ul>');

		    }

		    function SelectResult(element) {
		    	alert('Hello, I am ' + $(element).text())
		    }
		</script>
		<!-- <script>
		    var token = $("meta[name='_csrf']").attr("content");
		    var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ready(function() {
			    var dialog, form;
				dialog = $( "#dialog-form" ).dialog({
					dialogClass: 'dialogStyle',
					autoOpen: false,
					resizable: false,
					height: 240,
					width: 450,
					modal: true,
					buttons: {
						"Check Balance": function() {
							//document.getElementById("giftcard").submit();
							form = dialog.find( "form" );
							var postData = form.serializeArray();
							var formURL = form.attr("action");

							//console.log("URL: " + formURL);
							$.ajax({
								url: formURL,
								type: "POST",
								data: postData,
				                beforeSend:function(xhr) {
				                	xhr.setRequestHeader(header, token);
				                },
								success: function(data, textStatus, jqXHR) {
									console.log("URL: ");
									$('#dialog-form #balance').html(data);
									return false;
								},
								error: function(jqXHR, status, error) {
									console.log(status + ": " + error);
								}
							});
						},
						Cancel: function() {
							dialog.dialog( "close" );
						}
					},
					close: function() {
						document.getElementById("giftcard").reset();
						//allFields.removeClass( "ui-state-error" );
					},
					open: function (event, ui) {
					    $('#dialog-form').css('overflow', 'hidden');
					}
				});

				//form = dialog.find( "form" ).on( "submit", function( event ) {
				$( "#Check Balance" ).click( function() {
					var postData = $(this).serializeArray();
					var formURL = $(this).attr("action");
					event.preventDefault();
					console.log("URL: " + formURL);
					$.ajax({
						url: formURL,
						type: "POST",
						data: postData,
		                beforeSend:function(xhr) {
		                	xhr.setRequestHeader(header, token);
		                },
						success: function(data, textStatus, jqXHR) {
							console.log("URL: ");
							$('#dialog-form #balance').html(data);
							return false;
						},
						error: function(jqXHR, status, error) {
							console.log(status + ": " + error);
						}
					});
				});

				$('#popup').click(function(){
				    dialog.dialog( "open" );
				});
			});
		</script> -->
	</div>
</html>