<!DOCTYPE html>
<html layout:decorator="store/layout/layout">

	<div layout:fragment="content" id="content-wrapper">
		<div class="wsite-section-content">
			<div class="container">
				<div id='wsite-content' class='wsite-not-footer'>
					<div id="wsite-com-product-gen">
										<ul id="wsite-com-breadcrumbs" class="wsite-com-product-breadcrumbs">
											<li class="wsite-com-breadcrumb">
												<a th:href="@{/store/}" class="wsite-com-link">
													<span class="wsite-com-link-text">
														Home
													</span>
												</a>
											</li>
											<li class="wsite-com-breadcrumb">
												<span class="wsite-com-breadcrumb-arrow">&gt;</span>
											</li>
											<li class="wsite-com-breadcrumb">
												<a th:href="@{/store/brands/}" class="wsite-com-link">
													<span class="wsite-com-link-text">
														Brands
													</span>
												</a>
											</li>
											<li class="wsite-com-breadcrumb">
												<span class="wsite-com-breadcrumb-arrow">&gt;</span>
											</li>
											<li class="wsite-com-breadcrumb">
												<a th:href="@{/store/brand/}+${brand.brandid}" class="wsite-com-link">
													<span class="wsite-com-link-text" th:text="${brand.name}">
														Allrounder
													</span>
												</a>
											</li>
											<!-- <li class="wsite-com-breadcrumb">
												<span class="wsite-com-breadcrumb-arrow">&gt;</span>
											</li>
											<li class="wsite-com-breadcrumb">
												<span class="wsite-com-link-text" th:text="${product.product.name}">
													Allrounder by Mephisto Women's Darina 60/90
												</span>
											</li> -->
										</ul>
					</div>
					<div id="wsite-com-store">
						<div id="wsite-com-store-inner">
							<div class="wsite-com-content">
								<div id="wsite-com-product-list">
									<div id="wsite-com-category-product-group" class="wsite-com-category-product-group clearfix">
										<div th:each="prodform:${productForms}" class="wsite-com-category-product wsite-com-column" th:data-id="${prodform.product.productid}">
											<div class="wsite-com-category-product-wrap">
												<a th:href="${'../shopping/product/'+prodform.product.productid}" class="wsite-com-link wsite-com-category-product-link">
													<div style="position:relative">
														<div class="wsite-com-category-product-image-container wsite-imageaspectratio-image-container">
															<div class="wsite-com-category-product-image-height wsite-imageaspectratio-image-height">
															</div>
															<div class="wsite-com-category-product-image-wrap wsite-imageaspectratio-image-wrap" style="margin-bottom:-10px;">
																<img th:if="${prodform.images!=null and prodform.images.size()>0}" th:src="${'data:image/jpg;base64,'+prodform.images[0].imageData}" class="media-object img-thumbnail" style="width:100%;top:-0%;left:0%">
															</div>
														</div>

														<div class="wsite-com-category-product-cover ">
														</div>
													</div>
													<div class="wsite-com-category-product-name wsite-com-link-text" th:text="${prodform.product.name}">
														Allrounder by Mephisto Women's Darina 60/90
													</div>
												</a>
												<div class="wsite-com-product-price single-sale-price" th:if="${prodform.product.onsale==null}">
													<div class="wsite-com-sale-price wsite-com-category-product-featured-price" th:text="${prodform.product.retail}">
														CA$214.55
													</div>
												</div>
												<div class="wsite-com-product-price single-sale-price" th:if="${prodform.product.onsale!=null}">
													<div class="wsite-com-price wsite-com-category-product-featured-price" th:text="${prodform.product.retail}">
														CA$214.55
													</div>
													<div class="wsite-com-sale-price wsite-com-category-product-featured-price" th:text="${prodform.product.onsale}" style="color:red;">
														CA$214.55
													</div>
												</div>

												<!-- <div class="wsite-com-product-price">
													<div class="wsite-com-price wsite-com-category-product-price" th:text="${prodform.product.retail}">
														CA$220.00
													</div>
													<div class="wsite-com-sale-price wsite-com-category-product-price" th:text="${prodform.product.onsale}">
														CA$220.00
													</div>
												</div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
	</div>

</html>