<!DOCTYPE html>
<html layout:decorator="store/layout/layout">

	<div layout:fragment="content" id="content-wrapper">
		<div class="wsite-section-content">
			<div class="container">
				<div id='wsite-content' class='wsite-not-footer'>
					<div id="wsite-com-store">
						<div id="wsite-com-store-inner">

							<div class="wsite-com-content">
								<!-- <div class="commerce-elements-wrapper categories__published"  data-page-id="337717726232697143" data-page-element-id="726804391696307829">
									<div class="pagination__overlay"></div>
									<div class="commerce-layout-wrapper">
										<div class="product-grid product-grid-columns--4 product-grid-layout--above">
											<div class="product-grid__item" th:each="cform: ${cforms}">
												<a class="product-grid__item-overlay" th:href="${cform.title}"></a>
												<div class="product-grid__content">
													<div class="product-grid__images">
														<div class="product-grid-image image-1 product-grid-image__default product-grid-image-aspect--1-1 js-default-img" >
															<img th:src="'data:image/jpg;base64,'+${cform.imageData}"
																class="media-object img-thumbnail"
																style="height: 200px; width: 200px; display: block;" />
														</div>
													</div>
													<div class="product-grid__info" style="text-align:left">
														<h2 class="product-grid__title">
															<span class="product-grid-reset" th:text="${cform.name}"></span>
														</h2>
														<div class="product-grid__button">
															<a th:href="${cform.title}" class="wsite-button wsite-button-small wsite-button-highlight">
																<span class="wsite-button-inner">Shop</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div>
									<div class="wsite-multicol">
										<div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
											<table class="wsite-multicol-table">
												<tbody class="wsite-multicol-tbody">
													<tr class="wsite-multicol-tr">
														<td class="wsite-multicol-col" style="width:79.085872576177%; padding:0 15px;">
															<div class="wsite-spacer" style="height:50px;"></div>
														</td>
														<td class="wsite-multicol-col" style="width:20.914127423823%; padding:0 15px;">
															<div class="wsite-spacer" style="height:50px;"></div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div> -->

								<H3 style="color: #1E4B01;">Search Result</H3>
								<div>
									<div style="height: 20px; overflow: hidden; width: 100%;"></div>
									<hr class="styled-hr" style="width:100%;"></hr>
									<div style="height: 20px; overflow: hidden; width: 100%;">
									</div>
								</div>

								<div style="clear:both"></div>
								<div id="wsite-com-product-list">
									<div id="wsite-com-category-product-group" class="wsite-com-category-product-featured-group clearfix"> <!-- wsite-com-category-product-group -->
										<div th:each="prodform:${productforms}" class="wsite-com-category-product wsite-com-column" th:data-id="${prodform.product.productid}">
											<div class="wsite-com-category-product-wrap">
												<a th:href="${'shopping/product/'+prodform.product.productid}" class="wsite-com-link wsite-com-category-product-link">
													<div style="position:relative">
														<div class="wsite-com-category-product-image-container wsite-imageaspectratio-image-container">
															<div class="wsite-com-category-product-image-height wsite-imageaspectratio-image-height">
															</div>
															<div class="wsite-com-category-product-image-wrap wsite-imageaspectratio-image-wrap">
																<img th:if="${prodform.images!=null and prodform.images.size()>0}" th:src="${'data:image/jpg;base64,'+prodform.images[0].imageData}" class="media-object img-thumbnail" style="width:100%;top:-0%;left:0%">
															</div>
														</div>

														<div class="wsite-com-category-product-cover ">
														</div>
													</div>
													<div class="wsite-com-category-product-name wsite-com-link-text" th:text="${prodform.product.name}">
														Allrounder by Mephisto Women's Darina 60/90
													</div>
												</a>
												<div class="wsite-com-product-price single-sale-price" th:if="${prodform.product.onsale==null}">
													<div class="wsite-com-sale-price wsite-com-category-product-featured-price" th:text="${prodform.product.retail}">
														CA$214.55
													</div>
												</div>
												<div class="wsite-com-product-price single-sale-price" th:if="${prodform.product.onsale!=null}">
													<div class="wsite-com-price wsite-com-category-product-featured-price" th:text="${prodform.product.retail}">
														CA$214.55
													</div>
													<div class="wsite-com-sale-price wsite-com-category-product-featured-price" th:text="${prodform.product.onsale}" style="color:red;">
														CA$214.55
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div style="clear:both"></div>
			</div>
		<!-- </div>
	</div> -->
		</div>
	</div>

</html>
