<!DOCTYPE html>
<html layout:decorator="store/layout/layout">

	<div layout:fragment="content" id="content-wrapper">
		<style>
			.filter {
				cursor: pointer;
				width: 100%;
				text-align: left;
				border: none;
				outline: none;
				transition: 0.4s;
			}

			.active, .filter:hover {
				background-color: #ccc;
			}

			.filter-list {
				padding: 0 18px;
				background-color: white;
				display: none;
				overflow: hidden;
			}

			.plusminus:after {
				content: '\02795'; /* Unicode character for "plus" sign (+) */
				font-size: 13px;

				float: right;
			}

			.active .plusminus:after {
				content: "\2796"; /* Unicode character for "minus" sign (-) */
			}
		</style>
		<div class="wsite-section-content">
			<div class="container">
				<div id='wsite-content' class='wsite-not-footer'>
					<div id="wsite-com-store">
						<div id="wsite-com-store-inner">
							<div class="wsite-com-sidebar menu-wrapper">
								<div id="wsite-com-hierarchy">
									<form id="filter" th:action="@{/store/filter}" method="post">
										<input type="hidden" name="site" value="womens" />
										<input type="hidden" name="search" th:value="${search}" />
										<ul>
											<li class="">
												<a href="#" class="wsite-com-link wsite-link-selected filter">
													<div class="wsite-com-link-text menu-title plusminus">
														Brands
													</div>
												</a>
												<ul class="filter-list">
													<li class="" th:each="brand: ${brands}">
														<input type="checkbox" th:id="${brand.brandid}" name="brand" th:value="${brand.brandid}" th:onclick="'filter(\'womens\', \'brand\','+${brand.brandid}+')'" th:checked="${brandids!=null and #strings.contains(brandids,brand.brandid)}" /><span th:text="${brand.name}"></span>
													</li>
												</ul>
											</li>
											<br />
											<li class="">
												<a class="wsite-com-link wsite-link-selected">
													<div class="wsite-com-link-text menu-title">
														Styles
													</div>
												</a>
												<ul>
													<li class=" " th:each="style: ${styles}">
														<input type="checkbox" th:id="${style.styleid}" name="style" th:value="${style.styleid}" th:onclick="'filter(\'womens\', \'style\','+${style.styleid}+')'" th:checked="${styleids!=null and #strings.contains(styleids,style.styleid)}" /><span th:text="${style.name}"></span>
													</li>
												</ul>
											</li>
											<br />
											<li class=" ">
												<a class="wsite-com-link wsite-link-selected">
													<div class="wsite-com-link-text menu-title">
														Price
													</div>
												</a>
												<ul>
													<li class=" ">
														<input type="checkbox" th:id="50" name="price" value="0<50" th:onclick="'filter(\'womens\', \'price\',\'0<50\')'" th:checked="${priceids!=null and #strings.contains(priceids, '0<50')}" /><span th:text="'Less than $50'"></span>
													</li>
													<li class=" ">
														<input type="checkbox" th:id="100" name="price" value="50<100" th:onclick="'filter(\'womens\', \'price\', \'50<100\')'" th:checked="${priceids!=null and #strings.contains(priceids, '50<100')}" /><span th:text="'$50 - $99.99'"></span>
													</li>
													<li class=" ">
														<input type="checkbox" th:id="150" name="price" value="100<150" th:onclick="'filter(\'womens\', \'price\', \'100<150\')'" th:checked="${priceids!=null and #strings.contains(priceids, '100<150')}" /><span th:text="'$100 - $149.99'"></span>
													</li>
													<li class=" ">
														<input type="checkbox" th:id="150P" name="price" value="150<900" th:onclick="'filter(\'womens\', \'price\', \'150<900\')'" th:checked="${priceids!=null and #strings.contains(priceids, '150<900')}" /><span th:text="'$150 and Up'"></span>
													</li>
												</ul>
											</li>
										</ul>
									</form>
								</div>
							</div>
							<div class="wsite-com-content wsite-com-content-with-sidebar">

								<div style="clear:both"></div>

								<div id="wsite-com-product-list">
									<h2 id="wsite-com-title">women's</h2>
									<div id="wsite-com-category-product-group" class="wsite-com-category-product-featured-group clearfix">
										<div th:each="prodform:${productforms}" class="wsite-com-category-product-featured wsite-com-column" th:data-id="${prodform.product.productid}">

											<div class=" wsite-com-category-product-featured-wrap">

												<a th:href="@{'/store/shopping/product/'}+${prodform.product.productid}" class="wsite-com-link wsite-com-category-product-link-featured">

													<div style="position:relative">
														<div class="wsite-com-category-product-featured-image-container wsite-imageaspectratio-image-container">
															<div class="wsite-com-category-product-featured-image-height wsite-imageaspectratio-image-height">
															</div>
															<div class="wsite-com-category-product-featured-image-wrap wsite-imageaspectratio-image-wrap"  style="margin-bottom:-10px;">
																<img th:if="${prodform.images!=null and prodform.images.size()>0}" th:src="${'data:image/jpg;base64,'+prodform.images[0].imageData}" class="media-object img-thumbnail" style="width:100%;top:-0%;left:0%" />
															</div>
														</div>

														<div class=" wsite-com-category-product-featured-cover">
														</div>
													</div>

													<div class="wsite-com-category-product-name wsite-com-link-text" style="font-size: 14px;" th:text="${#strings.abbreviate(prodform.product.name,26)}">
														Mephsito Women's  Patricia
													</div>
												</a>
												<div class="wsite-com-product-price single-sale-price" th:if="${prodform.product.onsale==null}">
													<div class="wsite-com-sale-price wsite-com-category-product-featured-price" th:text="${prodform.product.retail}">
														CA$389.00
													</div>
												</div>

												<div class="wsite-com-product-price single-sale-price" th:if="${prodform.product.onsale!=null}">
													<div class="wsite-com-price wsite-com-category-product-featured-price" th:text="${prodform.product.retail}">
														CA$389.00
													</div>
													<div class="wsite-com-sale-price wsite-com-category-product-featured-price" th:text="${prodform.product.onsale}" style="color:red;">
														CA$369.99
													</div>
												</div>
											</div>
										</div>
										<div id="postList">
										</div>
									</div>
								</div>

								<div class="load-more" lastID="1" style="display: none;">
								    <img th:src="@{/images/chat-avatar.jpg}" style="display: none;"/>
								</div>
							</div>

						</div>
						<div style="clear:both"></div>
					</div>
				</div>
			</div>
		</div>
		<script>
			var acc = document.getElementsByClassName("filter");
			var i;

			for (i = 0; i < acc.length; i++) {
			    acc[i].addEventListener("click", function() {
			        /* this.classList.toggle("active");
			        var panel = this.nextElementSibling;
			        if (panel.style.maxHeight){
			          panel.style.maxHeight = null;
			        } else {
			          panel.style.maxHeight = panel.scrollHeight + "px";
			        } */

			        this.classList.toggle("active");

			        var panel = this.nextElementSibling;
			        if (panel.style.display === "block") {
			            panel.style.display = "none";
			        } else {
			            panel.style.display = "block";
			        }
			    });
			}

			function filter(site, fltr, id) {
				var form = document.getElementById("filter");

				form.submit();
			}
		</script>
	</div>

</html>
