<!DOCTYPE html>
<html layout:decorator="customer/layout/layout">
	<head>
		<meta charset="ISO-8859-1" />
		<title>My Profile</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/customer-util.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/customer-main.css}" />
	</head>
	<body>
		<div layout:fragment="content" id="content-wrapper">
			<div class="container-login100">
				<div class="col-lg-12">
					<H4>Invoice</H4>
					<div class="form">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>