<!DOCTYPE html>
<html layout:decorator="customer/layout/layout">
	<head>
		<meta charset="ISO-8859-1" />
		<title>My Profile</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/customer-util.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/customer-main.css}" />
	</head>
	<body>
		<div layout:fragment="content" id="content-wrapper">
			<div class="container-login100">
				<div class="col-lg-12">
					<div class="form">
						<form id="customer" name="customer" th:action="@{/customer/profile}" method="post" class="form-validate form-horizontal">
							<div class="form-group">
							    <label for="firstname" class="control-label col-lg-3">First Name </label>
							    <div class="col-lg-6">
							        <input class=" form-control" id="firstname" name="firstname" th:value="${loginUser==null?'':loginUser.firstname}" type="text" />
							    </div>
							</div>
							<div class="form-group">
							    <label for="lastname" class="control-label col-lg-3">Last Name </label>
							    <div class="col-lg-6">
							        <input class=" form-control" id="lastname" name="lastname" th:value="${loginUser==null?'':loginUser.lastname}" type="text" />
							    </div>
							</div>
							<!-- <div class="form-group ">
							    <label for="gender" class="control-label col-lg-3">Gender </label>
							    <div class="col-lg-6">
									<select class="form-control" id="gender" name="gender">
										<option th:each="gen: ${genders}" th:value="${gen}" th:text="${gen}" th:selected="${loginUser==null?'':(gen.equals(loginUser.gender)?'Selected':'')}"></option>
									</select>
							    </div>
							</div> -->
							<div class="form-group">
							    <label for="street" class="control-label col-lg-3">Address </label>
							    <div class="col-lg-6">
							        <input class=" form-control" id="street" name="street" th:value="${customer==null?'':customer.address.street}" type="text" />
							    </div>
							</div>
							<div class="form-group">
							    <label for="cityid" class="control-label col-lg-3">City </label>
							    <div class="col-lg-6">
									<select class="form-control" id="cityid" name="cityid">
										<option th:each="city: ${cities}" th:value="${city.cityid}" th:text="${city.name}" th:selected="${customer==null?'':(customer.address.city.cityid.equals(city.cityid)?'Selected':'')}"></option>
									</select>
							    </div>
							</div>
							<div class="form-group ">
							    <label for="postalcode" class="control-label col-lg-3">Postal Code </label>
							    <div class="col-lg-6">
							        <input class="form-control " id="postalcode" name="postalcode" th:value="${customer==null?'':customer.address.postalcode}" type="text" />
							    </div>
							</div>
							<!-- <div class="form-group ">
							    <label for="email" class="control-label col-lg-3">Email </label>
							    <div class="col-lg-6">
							        <input class="form-control " id="email" name="email" type="email" th:value="${loginUser==null?'':loginUser.email}" />
							    </div>
							</div> -->
							<div class="form-group ">
							    <label for="phone" class="control-label col-lg-3">Phone </label>
							    <div class="col-lg-6">
							        <input type="text" class="form-control" id="phone" name="phone" th:value="${loginUser==null?'':loginUser.phone}" />
							    </div>
							</div>
							<div class="form-group ">
							    <label for="cell" class="control-label col-lg-3">Mobile <span class="required">*</span></label>
							    <div class="col-lg-6">
							        <input class="form-control " id="cell" name="cell" type="text" th:value="${loginUser==null?'':loginUser.cell}" />
							    </div>
							</div>
							<div class="form-group">
							    <label for="fullname" class="control-label col-lg-3">Email <span class="required">*</span></label>
							    <div class="col-lg-6">
							        <input class=" form-control" id="username" name="username" th:value="${loginUser==null?'':loginUser.username}" type="email" autocomplete="off" />
							    </div>
							</div>
							<div class="form-group">
							    <label for="password" class="control-label col-lg-3">Password <span class="required">*</span></label>
							    <div class="col-lg-6">
							        <input class=" form-control" id="password" name="password" value="" type="password" autocomplete="off" />
							    </div>
							</div>
							<div class="form-group">
							    <label for="password" class="control-label col-lg-3">Confirm Password <span class="required">*</span></label>
							    <div class="col-lg-6">
							        <input class=" form-control" id="confpswd" name="confpswd" value="" type="password" autocomplete="off" />
							    </div>
							</div>
							<div class="form-group">
							    <div class="col-lg-offset-3 col-lg-6">
							        <button class="btn btn-primary" type="submit"> Save </button>
							        <a th:href="@{/customer/user}" class="btn btn-default"><span><i class="fa fa-remove"></i></span> Cancel</a>
							        <input type="hidden" id="userid" name="userid" th:value="${user==null?'':user.userid}" />
							    </div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>