<!DOCTYPE html>
<html layout:decorator="admin/layout/layout">
	<div layout:fragment="content">

        <!-- Bootstrap -->
        <link rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" media="screen" th:href="@{/css/calendar-styles.css}" />
 		<link rel="stylesheet" media="screen" th:href="@{/assets/fullcalendar/fullcalendar/fullcalendar.css}" />
 		<!-- <script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css"> -->
		<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css">

      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script th:src="@{/js/modernizr-2.6.2-respond-1.1.0.min.js}"></script>

		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header"><i class="fa fa-file-text-o"></i> Schedule Management</h3>
						<ol class="breadcrumb">
							<li><i class="fa fa-home"></i><a th:href="@{/admin/home}">Home</a></li>
							<li><i class="icon_document_alt"></i>Schedules</li>
							<li><i class="fa fa-file-text-o"></i><span th:text="${'Calendar'}"></span></li>
						</ol>
					</div>
				</div>

                <!--/span-->
                <div class="span9" id="content">
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Calendar</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="col-lg-2">
                                    <div id='external-events'>
	                                    <h4>Draggable Events</h4>
	                                    <div class='external-event'>Event 10-11AM</div>
	                                    <div class='external-event'>Event 11-12AM</div>
	                                    <div class='external-event'>Event 1-2PM</div>
	                                    <div class='external-event'>Event 2-3PM</div>
	                                    <div class='external-event'>Event 3-4PM</div>
	                                    <div class='external-event'>Event 4-5PM</div>
	                                    <div class='external-event'>Event 5-6PM</div>
	                                    <div class='external-event'>Event 6-7PM</div>
	                                    <div class='external-event'>Event 7-8PM</div>
	                                    <div class='external-event'>Event 8-9PM</div>
	                                    <div class='external-event'>Event 9-10PM</div>
	                                    <div class='external-event'>Event 10-11PM</div>
	                                    <p>
	                                    	<input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
	                                    </p>
                                    </div>

                                </div>
                                <div class="col-lg-10">
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                </div>

			    <div id="fullCalModal" class="modal fade">
			        <div class="modal-dialog">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close icon_close" data-dismiss="modal">
			                    	<!-- <span aria-hidden="true">×</span> -->
			                    	<span class="sr-only">close</span>
			                    </button>
			                    <h4 id="eventTitle" class="modal-title edit"></h4>
			                </div>
			                <div style="padding-left: 20px; padding-top: 8px;">
				                <div class="row">
				                	<label class="col-xs-1">Start: </label>
				                	<input type="text" id="datestart24" data-format="DD-MM-YYYY HH:mm" data-template="DD / MM / YYYY  HH : mm" name="datestart" value="">
				                </div>
				                <div class="row">
				                	<label class="col-xs-1">End: </label>
				                	<input type="text" id="dateend24" data-format="DD-MM-YYYY HH:mm" data-template="DD / MM / YYYY  HH : mm" name="dateend" value="">
				                </div>
			                </div>
			                <div id="eventInfo" class="modal-body">
			                	<label >Detail: </label>
			                	<textarea cols="60" rows="4"></textarea>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			                    <!-- <a class="btn btn-primary" id="eventlink" target="_blank">Event Page</a> -->
			                </div>
			            </div>
			        </div>
			    </div>

		        <style>
			        #external-events {
			            float: left;
			            width: 100%;
			            padding: 10px 10px;
			            border: 1px solid #ccc;
			            background: #eee;
			            text-align: left;
		            }

			        #external-events h4 {
						color:#4a4a4a;
						font-weight: bold;
			            font-size: 16px;
			            margin-top: 0;
						margin-bottom: 10px;
			            padding-top: 1em;
		            }

					#external-events label {
						color:#4a4a4a;
					}

			        .external-event { /* try to mimick the look of a real event */
			            margin: 10px 0;
			            padding: 2px 4px;
			            background: #3366CC;
			            color: #fff;
			            font-size: .85em;
			            cursor: pointer;
			            z-index: 1;
		            }

			        #external-events p {
			            margin: 1.5em 0;
			            font-size: 11px;
			            color: #666;
		            }

			        #external-events p input {
			            margin: 0;
			            vertical-align: middle;
		            }

		        </style>
		        <!--/.fluid-container-->
		        <!-- <script th:src="@{/js/jquery-1.9.1.min.js}"></script>
		        <script th:src="@{/js/jquery-ui-1.10.3.js}"></script> -->
		        <script th:src="@{/assets/fullcalendar/fullcalendar/fullcalendar.js}"></script>
		        <script th:src="@{/assets/fullcalendar/fullcalendar/gcal.js}"></script>
		        <script th:src="@{/js/combodate.js}"></script>
		        <script th:src="@{/js/moment.js}"></script>
		        <script th:src="@{/js/calendar-scripts.js}"></script>
		        <script>
			        $(function() {
			            // Easy pie charts
						var date = new Date();
						var d = date.getDate();
						var m = date.getMonth();
						var y = date.getFullYear();

			            var calendar = $('#calendar').fullCalendar({
						header: {
							left: 'prev,next',
							center: 'title',
							right: 'month,basicWeek,basicDay'
						},
			            selectable: true,
			            selectHelper: true,
			            select: function(start, end, allDay) {
			                var title = prompt('Event Title:');

			                if (title) {
			                    calendar.fullCalendar('renderEvent',
			                        {
			                            title: title,
			                            start: start,
			                            end: end,
			                            allDay: allDay
			                        },
			                        true // make the event "stick"
			                    );
			                }
			                calendar.fullCalendar('unselect');
			            },
						events: [
							{
								title: 'All Day Event',
								start: new Date(y, m, 21)
							},
							{
								title: 'Long Event',
								start: new Date(y, m, d-5),
								end: new Date(y, m, d-2)
							}],
			            droppable: true, // this allows things to be dropped onto the calendar !!!
			            drop: function(date, allDay) { // this function is called when something is dropped

			                // retrieve the dropped element's stored Event Object
			                var originalEventObject = $(this).data('eventObject');

			                // we need to copy it, so that multiple events don't have a reference to the same object
			                var copiedEventObject = $.extend({}, originalEventObject);

			                // assign it the date that was reported
			                copiedEventObject.start = date;
			                copiedEventObject.allDay = allDay;

			                // render the event on the calendar
			                // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
			                $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

			                // is the "remove after drop" checkbox checked?
			                if ($('#drop-remove').is(':checked')) {
			                    // if so, remove the element from the "Draggable Events" list
			                    $(this).remove();
			                }

			            },
						editable: true,
					    /* eventClick: function(event, element) {
					    	var title = prompt('Event Title:', event.title);
					        event.title = title;

					        $('#calendar').fullCalendar('updateEvent', event);

					    }, */
					    eventClick:  function(event, jsEvent, view) {
					        //set the values and open the modal
					        $('#eventTitle').html(event.title);
					        $("#eventInfo").html(event.description);
					        $("#eventLink").attr('href', event.url);
					        $('#fullCalModal').modal();
					        return false;
					        //$("#eventContent").dialog({ modal: true, title: event.title });
					    },
					    // US Holidays
						events: 'http://www.google.com/calendar/feeds/usa__en%40holiday.calendar.google.com/public/basic'

						});
			        });

			        $('#external-events div.external-event').each(function() {

			            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
			            // it doesn't need to have a start or end
			            var eventObject = {
			                title: $.trim($(this).text()) // use the element's text as the event title
			            };

			            // store the Event Object in the DOM element so we can get to it later
			            $(this).data('eventObject', eventObject);

			            // make the event draggable using jQuery UI
			            $(this).draggable({
			                zIndex: 999999999,
			                revert: true,      // will cause the event to go back to its
			                revertDuration: 0  //  original position after the drag
			            });

			        });
			        $(function(){
			        	var d = new Date(); //21-12-2012 20:30
			        	smin = ":00";
			        	emin = ":30";
			        	if(d.getMinutes() > 30) {
				        	smin = ":30";
				        	emin = ":59";
			        	}
			        	start = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear() + " " + d.getHours() + smin;
			        	end = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear() + " " + d.getHours() + emin;
			        	document.getElementById("datestart24").value = start;
			        	document.getElementById("dateend24").value = end;
			        	//$('#datestart24').value = start;
			        	//$('#dateend24').value = end;
			            $('#datestart24').combodate();
			            $('#dateend24').combodate();
			        });
			        $.fn.editable.defaults.mode = 'inline';
			        $.fn.editable.defaults.showbuttons = false;
			        $.fn.editable.defaults.url = '/post';
			        $.fn.editable.defaults.type = 'text';
			        $('#eventTitle').editable();
		        </script>

			</section>
		</section>
      <!--main content end-->
	</div>
</html>