<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	layout:decorator="admin/layout/layout">

	<div layout:fragment="content">

	    <script>
	    /*<![CDATA[*/
	     	var acceptedfiletypes = ["pdf","PDF"];

			function wordCount(elmt) {
				size = elmt.maxLength;
				len = size - utf8Length(elmt.value);
				if(len > 0) {
					msg = "  <Font color='green'>Character(s) Left: " + len + "</Font>";
				}
				else {
					msg = "  You have reached the character limit."	;
				}
				name = elmt.name + 'counter';

				document.getElementById(name).innerHTML=msg;
			}

			function utf8Length(unicodeString) {
				var usl=0;
				for(var i=0;unicodeString.length>i;++i) {
					var codePoint=unicodeString.charCodeAt(i);
					if(codePoint===10||codePoint===13){
						usl+=2;
					}else if(128>codePoint){
						usl+=1;
					}else if((codePoint>127)&&(2048>codePoint)){
						usl+=2;
					}else{
						usl+=3;
					}
				}
				return usl;
			}

			function addMessage(msgs) {
				rmvMessage();
				var main = document.getElementById("main1");
				var errors = document.createElement("div");
				var ul = document.createElement("ul");
				var upload = document.getElementById("upload");

				errors.setAttribute("id", "errors");
				errors.setAttribute("class", "alert alert-danger");

				for(i in msgs) {
					ul.appendChild(createListNode(msgs[i]));
				}

				errors.appendChild(ul)
				main.appendChild(errors);
				main.focus();
			}

			function createListNode(item) {
				var li = document.createElement("li");
				var txt = document.createTextNode(item);

				li.appendChild(txt);
				return li;
			}

			function rmvMessage() {
				var main = document.getElementById("main1");
				var errors = document.getElementById("errors");

				if(errors || errors != null) {
					main.removeChild(errors);
				}
			}

			function validateDoc(itemid) {
				var elmt = document.getElementById("uploadBtn"+itemid);
				var main = document.getElementById("main1");
				var btn = document.getElementById("submitBtn"+itemid);
				var errors = [];

				if(!elmt  || (elmt.value).trim().length == 0) {
					errors.push("Please choose your document to upload.");
				} else {
					doctype =  elmt.value.trim().split(".").pop();

					if(acceptedfiletypes.indexOf(doctype) < 0) {
						errors.push("This file type is not accepted by the Document Upload Page.  Please upload an acceptable file type.");
					}

					if(elmt.files[0].size > 52428800) {
						errors.push("Files must be less than 50MB in size.");
					}
				}

				if(errors.length > 0) {
					addMessage(errors);
					return false;
				}

				btn.disabled = true;

				document.getElementById("uploadForm"+itemid).submit();

			}

			function callThis(itemid) {
				var elmt = document.getElementById("uploadBtn"+itemid);
				var filename = elmt.value.split('\\').pop().split('/').pop();
				var text = document.getElementById("uploadFile"+itemid);
				var submitBtn = document.getElementById("submitBtn"+itemid);

				rmvMessage();
				clearSelection(itemid);

				document.getElementById("row"+itemid).style.backgroundColor="#ECE8E8";
				text.style.backgroundColor="#ECE8E8";
				text.innerHTML = filename + "&nbsp;&nbsp;&nbsp;&nbsp;";

			    anchor = document.createElement("a");
			    anchor.setAttribute("href", "javascript: clearSelection()");

			    //image = document.createElement("img");
			    //image.setAttribute("src", "/rodocs/gradupload/resources/assets/images/remove.png");
			    //anchor.appendChild(image);

			    span = document.createElement("span");
			    span.setAttribute("class", "glyphicon glyphicon-trash alert-danger minus");
			    anchor.appendChild(span);

			    text.appendChild(anchor);

			    submitBtn.style.display = "";
			}

			function clearSelection(itemid) {
				var elmts = document.getElementsByName("uploadFile");

				for(i = 0; i < elmts.length; i++) {
					elmts[i].innerHTML = "";
					elmts[i].style.backgroundColor="#ffffff";
				}

				var rows = document.getElementsByName("row");

				for(i = 0; i < rows.length; i++) {
					rows[i].style.backgroundColor="#ffffff";
				}

				var files = document.getElementsByName("uploadBtn");

				for(i = 0; i < files.length; i++) {
					if(files[i].id != "uploadBtn"+itemid) {
						files[i].value = "";
					}
				}

				var btns = document.getElementsByName("submitBtn");
				for(i=0; i < btns.length; i++) {
					btns[i].style.display = "none";
				}
			}
			/*]]>*/
	    </script>
		<style>
			.myLabel {
			    position: relative;
				/* padding-top: -10px; */
			    display: inline-block;
			    /* margin-left: 0px; */
			    margin-top: 1px;
			    cursor: pointer;
			}

			.myLabel input {
			    position: absolute;
			    z-index: 12;
			    opacity: 0;
			    width: 100%;
			    height: 100%;
			    cursor: pointer;
			}

			.myLabel {
				background-color: #bce0ee;
				padding-bottom: 10px;
				color: #3d3c3c;
				font-size:1.2em;
				font-weight:bold;
				border-radius: 3px;
				border: 1px solid #3d3c3c;
			    display: inline-block;
			    cursor: pointer;
			    width: 80%;
			    height: 22px;
			    vertical-align: middle;
			}

			.myLabel:hover {
				background-color: #3cb0fd;
				border: 1px solid #575657;
				color: #ffffff;
				border-radius: 3px;
				cursor: pointer;
			}

			.myLabel span {
				/* padding-left: 10%; */
				display: table-cell;
				vertical-align: middle;
				padding-top: 2px;
				width: 100%;
				text-align: center;
				font-size: 12px;
				font-weight: bold;
				cursor: pointer;
			}

			#uploadFile {
				/* margin-left: 2%; */
				font-size: 0.9em;
				font-weight: bold;
				color: #1f3b08;
			}

			.submitBtn {
				width: 160px;
				background-color: #bce0ee;
				color: #3d3c3c;
				border-color: #3d3c3c;
				font-weight: bold;
			}

			.submitBtn:hover {
				width: 160px;
				background-color: #3cb0fd;
				color: #ffffff;
				border-color: #575657
			}

			/* .header {
				background-color:#bce0ee;
				color:#3d3c3c !important;
				font-family: UniversCondensed, Arial, sans-serif !important;
			} */
		</style>

		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header"><i class="fa fa-file-text-o"></i> Business Management</h3>
						<ol class="breadcrumb">
							<li><i class="fa fa-home"></i><a th:href="@{/admin/home}">Home</a></li>
							<li><i class="icon_document_alt"></i>Gift Cards</li>
							<li><i class="fa fa-file-text-o"></i><span th:text="${giftcard==null?'New Gift Card':'Modify Gift Card'}"></span></li>
						</ol>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<section class="panel">
							<header class="panel-heading">
								Gift Card
							</header>
							<div class="panel-body">
								<div th:if="${message!=null and message.status!=null}" class="col-lg-offset-2 col-lg-10" style="margin-top: 10px;margin-bottom: 20px;">
									<span th:class="${message.status}" th:text="${message.message}"></span>
								</div>
								<div class="form">
									<form class="form-validate form-horizontal" id="giftcard" name="giftcard" method="post" th:action="@{/admin/giftcard}">
										<div class="form-group">
										    <label for="code" class="control-label col-lg-2">Gift Card Code <span class="required">*</span></label>
										    <div class="col-lg-10">
										        <input class=" form-control" id="code" name="code" th:value="${giftcard==null?'':giftcard.code}" type="text" />
										    </div>
										</div>
										<div class="form-group">
										    <label for="pin" class="control-label col-lg-2">Pin Number </label>
										    <div class="col-lg-10">
										        <input class=" form-control" id="pin" name="pin" th:value="${giftcard==null?'':giftcard.pin}" type="password" />
										    </div>
										</div>
										<div class="form-group">
										    <label for="amount" class="control-label col-lg-2">Initial Amount </label>
										    <div class="col-lg-10">
										        <input class=" form-control" id="amount" name="amount" th:value="${giftcard==null or giftcard.amount==null?'':#numbers.formatDecimal(giftcard.amount, 0, 2)}" type="text" />
										    </div>
										</div>
										<div class="form-group" th:if="${giftcard!=null}">
										    <label for="balance" class="control-label col-lg-2">Balance </label>
										    <div class="col-lg-10">
										        <input class="form-control " id="balance" name="balance" type="text" th:value="${giftcard==null or giftcard.balance==null?'':#numbers.formatDecimal(giftcard.balance, 0, 2)}" />
										    </div>
										</div>
										<div class="form-group">
										    <label for="customerid" class="control-label col-lg-2">Customer </label>
										    <div class="col-lg-10">
												<select class="form-control" id="customerid" name="customerid">
													<option th:each="customer: ${customers}" th:value="${customer.customerid}" th:text="${customer.user.firstname}" th:selected="${giftcard!=null and giftcard.customer!=null and giftcard.customer.customerid==customer.customerid}"></option>
												</select>
										    </div>
										</div>
										<div class="form-group">
										    <label for="storeid" class="control-label col-lg-2">Store </label>
										    <div class="col-lg-10">
												<select class="form-control" id="storeid" name="storeid">
													<option th:each="store: ${stores}" th:value="${store.storeid}" th:text="${store.name}" th:selected="${giftcard!=null and giftcard.store!=null and giftcard.store.storeid==store.storeid}"></option>
												</select>
										    </div>
										</div>
										<div class="form-group">
										    <label for="pin" class="control-label col-lg-2">Status </label>
										    <div class="col-lg-10">
										    	<select class=" form-control" id="statusid" name="statusid">
										    		<option th:each="status : ${statuss}" th:value="${status.statusid}" th:text="${status.name}" th:selected="${giftcard!=null and giftcard.status!=null and giftcard.status.statusid==status.statusid}"></option>
										    	</select>
										        <!-- <input class=" form-control" id="statusid" name="statusid" th:value="${giftcard==null?'':giftcard.status.statusid}" type="text" /> -->
										    </div>
										</div>
										<div class="form-group ">
										    <label for="comments" class="control-label col-lg-2">Comments </label>
										    <div class="col-lg-10">
										        <textarea class="form-control " id="comments" name="comments" th:value="${giftcard!=null?giftcard.comments:''}" ></textarea>
										    </div>
										</div>
										<div class="form-group">
										    <div class="col-lg-offset-2 col-lg-10">
										        <button class="btn btn-primary" type="submit"> Save </button>
										        <!-- <button class="btn btn-default" type="button">Cancel</button> -->
												<a th:href="@{/admin/giftcards}" class="btn btn-primary btn-label-left"><span><i class="fa fa-remove"></i></span> Cancel</a>
										        <input type="hidden" id="giftcardid" name="giftcardid" th:value="${giftcard==null?'':giftcard.giftcardid}" />
										    </div>
										</div>
									</form>
								</div>
							</div>
						</section>
					</div>
				</div>

			</section>
		</section>
      <!--main content end-->
	</div>
</html>