<!DOCTYPE html>
<html layout:decorator="admin/layout/layout">
	<div layout:fragment="content">

		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header"><i class="fa fa-file-text-o"></i> Inventory Management</h3>
						<ol class="breadcrumb">
							<li><i class="fa fa-home"></i><a th:href="@{/admin/home}">Home</a></li>
							<li><i class="icon_document_alt"></i>Inventories</li>
							<li><i class="fa fa-file-text-o"></i><span th:text="${item==null?'New Item':'Modify Item'}"></span></li>
						</ol>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<section class="panel">
							<header class="panel-heading">
								Item
							</header>
							<div class="panel-body">
								<div class="form">
									<form class="form-validate form-horizontal " id="item" name="item" method="post" th:action="@{/admin/item}">
										<div class="form-group">
										    <label for="productid" class="control-label col-lg-2">Product </label>
										    <div class="col-lg-10">
												<!-- <select class="form-control" id="productid" name="productid">
													<option th:each="product: ${products}" th:value="${product.productid}" th:text="${product.name}" th:selected="${item==null?'':(item.product.productid.equals(product.productid)?'Selected':'')}"></option>
												</select> -->
												<input class="form-control" id="prodname" name="prodname" th:value="${item!=null?item.product.name:''}" />
												<input type="hidden" id="typeid" name="typeid" th:value="${item!=null?item.product.type.typeid:0}" />
										    </div>
										</div>
										<div class="form-group ">
										    <label for="sku" class="control-label col-lg-2">UPC </label>
										    <div class="col-lg-10">
										        <input class="form-control " id="sku" name="sku" th:value="${item==null?'':item.sku}" type="text" />
										    </div>
										</div>
										<div class="form-group">
										    <label for="size" class="control-label col-lg-2">Size </label>
										    <div class="col-lg-10">
												<!-- <select class="form-control" id="sizeid" name="sizeid">
													<option th:each="size: ${sizes}" th:value="${size.sizeid}" th:text="${size.region.name+' '+size.sizenum+' ('+size.type.name+')'}" th:selected="${product!=null and product.size!=null and product.size.sizeid==size.sizeid}"></option>
												</select> -->
												<input class="form-control" id="size" name="size" th:value="${item!=null?item.size.region.name+' '+item.size.sizenum+' ('+item.size.type.name+')':''}"  />
												<input type="hidden" id="sizeid" name="sizeid" th:value="${item!=null?item.size.sizeid:0}" />
										    </div>
										    <!-- <div class="col-lg-5">
												<select class="form-control" id="regionid" name="regionid">
													<option th:each="region: ${regions}" th:value="${region.regionid}" th:text="${region.name}" th:selected="${product==null?'':(product.size.region.regionid.equals(region.regionid)?'Selected':'')}"></option>
												</select>
										    </div>
										    <div class="col-lg-5">
												<select class="form-control" id="sizeid" name="sizeid">
													<option th:each="size: ${sizes}" th:value="${size.sizeid}" th:text="${size.sizenum}" th:selected="${product==null?'':(product.size.sizeid.equals(size.sizeid)?'Selected':'')}"></option>
												</select>
										    </div> -->
										</div>
										<div class="form-group ">
										    <label for="cost" class="control-label col-lg-2">Cost </label>
										    <div class="col-lg-10">
										        <input class="form-control " id="cost" name="cost" type="text" th:value="${item==null?'':#numbers.formatDecimal(item.cost, 0, 'DEFAULT', 2, 'DEFAULT')}" />
										    </div>
										</div>
										<!-- <div class="form-group ">
										    <label for="price" class="control-label col-lg-2">Price </label>
										    <div class="col-lg-10">
										        <input class="form-control " id="price" name="price" type="text" th:value="${item==null?'':#numbers.formatDecimal(item.price, 0, 'DEFAULT', 2, 'DEFAULT')}" />
										    </div>
										</div> -->
										<div class="form-group ">
										    <label for="quantity" class="control-label col-lg-2">Quantity </label>
										    <div class="col-lg-10">
										        <input type="text" class="form-control " id="quantity" name="quantity" th:value="${item==null?'':item.quantity}" />
										    </div>
										</div>
										<div class="form-group">
										    <label for="orderid" class="control-label col-lg-2">P.O. No. </label>
										    <div class="col-lg-10">
												<select class="form-control" id="orderid" name="orderid">
													<option value=""></option>
													<option th:each="order: ${orders}" th:value="${order.orderid}" th:text="${order.code}" th:selected="${item!=null and item.purchaseorder!=null and item.purchaseorder.orderid==order.orderid}"></option>
												</select>
										    </div>
										</div>
										<div class="form-group">
										    <label for="shipmentid" class="control-label col-lg-2">Shipment </label>
										    <div class="col-lg-10">
												<select class="form-control" id="shipmentid" name="shipmentid">
													<option value="0"></option>
													<option th:each="shipment: ${shipments}" th:value="${shipment.shipmentid}" th:text="${shipment.code}" th:selected="${item==null or item.shipment==null?'':(item.shipment.shipmentid.equals(shipment.shipmentid)?'Selected':'')}"></option>
												</select>
										    </div>
										</div>
										<div class="form-group ">
										    <label for="comments" class="control-label col-lg-2">Comments </label>
										    <div class="col-lg-10">
										        <textarea class="form-control " id="comments" name="comments" th:value="${item==null?'':item.comments}" ></textarea>
										    </div>
										</div>
										<div class="form-group">
										    <div class="col-lg-offset-2 col-lg-10">
										        <button class="btn btn-primary" type="submit"> Save </button>
										        <button class="btn btn-default" type="button">Cancel</button>
										        <input type="hidden" id="itemid" name="itemid" th:value="${item==null?'':item.itemid}" />
										        <input type="hidden" th:if="${shipments!=null} and ${shipments.size()}==1" id="rtn_shipmentid" name="rtn_shipmentid" th:value="${shipments.get(0).shipmentid}" />
										    </div>
										</div>
									</form>
								</div>
							</div>
							<div th:if="${item!=null}">
								<font size="4">Add Inventory</font>
								<div class="form" th:if="${inventories==null or sum==null or item.quantity!=sum}">
									<form class="form-validate form-horizontal " id="inventory" name="inventory" method="post" th:action="@{/admin/inventory}">
										<div class="form-group">
										    <label for="storeid" class="control-label col-lg-2">Shipment </label>
										    <div class="col-lg-10">
												<select class="form-control" id="storeid" name="storeid">
													<option th:each="store: ${stores}" th:value="${store.storeid}" th:text="${store.name}"></option>
												</select>
										    </div>
										</div>
										<div class="form-group ">
										    <label for="quantity" class="control-label col-lg-2">Quantity </label>
										    <div class="col-lg-10">
										        <input class="form-control " id="quantity" name="quantity" type="text" th:value="${item.quantity} - ${sum!=null?sum:0}" />
										    </div>
										</div>
										<div class="form-group">
										    <div class="col-lg-offset-2 col-lg-10">
										        <button class="btn btn-primary" type="submit"> Save </button>
										        <button class="btn btn-default" type="button">Cancel</button>
										        <input type="hidden" id="itemid" name="itemid" th:value="${item.itemid}" />
										        <!-- <input type="hidden" th:if="${shipments!=null} and ${shipments.size()}==1" id="rtn_shipmentid" name="rtn_shipmentid" th:value="${shipments.get(0).shipmentid}" /> -->
										    	<input type="hidden" id="statusid" name="statusid" value="1" />
										    </div>
										</div>
									</form>
								</div>
								<div th:if="${inventories!=null}">
									<table class="table table-striped table-advance table-hover">
										<tbody>
											<tr>
												<th><i class="icon_documents"></i> Item</th>
												<th><i class="icon_mail_alt"></i> Store</th>
												<th><i class="icon_mail_alt"></i> Status</th>
												<th><i class="icon_mobile"></i> Quantity</th>
												<th><i class="icon_mobile"></i> Received</th>
												<th><i class="icon_cogs"></i> Action</th>
											</tr>
											<tr th:each="inv:${inventories}">
												<td th:text="${inv.item.product.name}"></td>
												<td th:text="${inv.store.name}"></td>
												<td th:text="${inv.status.name}"></td>
												<td th:text="${inv.quantity}"></td>
												<td th:text="${inv.receivedby.firstname}"></td>
												<td>
													<div class="btn-group">
														<a class="btn btn-success" th:href="@{/admin/inventory/}+${inv.inventoryid}" title="Delete Inventory"><i class="icon_trash_alt"></i></a>
														<!-- <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a> -->
													</div>
												</td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
		</section>
		<!--main content end-->
		<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
		<script th:src="@{/js/jquery-ui-1.12.1.js}"></script>
		<script th:src="@{/js/jquery.autocomplete.min.js}"></script>
		<script>
			//jQuery.noConflict();

			$(document).ready(function() {
			    var token = $("meta[name='_csrf']").attr("content");
			    var header = $("meta[name='_csrf_header']").attr("content");
			    var dialog, form;
				console.log($().jquery)
				//console.log(jQ3().jquery)

				$( "#prodname" ).autocomplete({
					source: function (request, response) {
						$.ajax({
	                        url: 'products?name='+document.getElementById("prodname").value,
	                        dataType: "json",
	                        type: "POST",
	                        contentType: "application/json; charset=utf-8",
	                        beforeSend: function(xhr){
	                            xhr.setRequestHeader(header, token);
	                        },
	                        success: function (data) {
	                            response($.map(data, function (item) {
            		                return { value: item.name, data: item.productid, type: item.type.typeid};
	                            }))
	                        },
	                        error: function (response) {
	                        	console.log(response);
	                            //alert(response.responseText);
	                        },
	                        failure: function (response) {
	                        	console.log(response);
	                            //alert(response.responseText);
	                        }
	                    });
	                },
	                select: function(v,u) {
	                	out = "";
	                	for(i in u.item) {
	                		out += i + ":" +u.item[i]+"\n"
	                	}
	                	console.log(out);

	                	$("#typeid")[0].value = u.item.type;
	                }
				});

				$( "#size" ).autocomplete({
					source: function (request, response) {
	                    $.ajax({
	                        url: 'size?typeid='+$("#typeid")[0].value+'&size='+$("#size")[0].value,
	                        dataType: "json",
	                        type: "POST",
	                        contentType: "application/json; charset=utf-8",
	                        beforeSend: function(xhr){
	                            xhr.setRequestHeader(header, token);
	                        },
	                        success: function (data) {
	                            response($.map(data, function (size) {
	                            	//$("#sizeid")[0].value = size.sizeid;
            		                return { value: size.region.name+' '+size.sizenum+' ('+size.type.name+')' , data: size.sizeid };
	                            }))
	                        },
	                        error: function (response) {
	                        	console.log(response);
	                            alert(response.responseText);
	                        },
	                        failure: function (response) {
	                            alert(response.responseText);
	                        }
	                    });
	                },
	                select: function(v,u) {
	                	/* out = "";
	                	for(i in u.item) {
	                		out += i + ":" +u.item[i]+"\n"
	                	}
	                	console.log(out); */
	                	$("#sizeid")[0].value = u.item.data;
	                }
				});
				dialog = $( "#dialog-form" ).dialog({
					dialogClass: 'dialogStyle',
					autoOpen: false,
					resizable: false,
					height: 400,
					width: 350,
					modal: true,
					buttons: {
						"Save": function() {
							document.getElementById("inventory1").submit();},
						Cancel: function() {
							dialog.dialog( "close" );
						}
					},
					close: function() {
						form[ 0 ].reset();
						//allFields.removeClass( "ui-state-error" );
					},
					open: function (event, ui) {
					    $('#dialog-form').css('overflow', 'hidden');
					}
				});

				form = dialog.find( "form" ).on( "submit", function( event ) {
					event.preventDefault();
					//addUser();
				});

				$('.header').click(function(){

				    dialog.dialog( "open" );
					console.log("inventoryid: "+$("#locationid"+this.id)[0].value);
				    $("#ulocationid")[0].value = $("#locationid"+this.id)[0].value;
				    $("#uquantity")[0].value = $("#quantity"+this.id)[0].value;
				    $("#uinventoryid")[0].value = $("#inventoryid"+this.id)[0].value;
				    $("#ustoreid")[0].value = $("#storeid"+this.id)[0].value;
				    //$("#detail")[0].value = $("#detail"+this.id)[0].value;
				});

				$('#addInventory').click(function() {
					if($("#addInventory")[0].checked) {
						//alert("XXX");
						document.getElementById("alocationid").style.display = "";
					} else {
						//alert("YYY");
						document.getElementById("alocationid").style.display = "none";
					}

					//$('#alocationid')[0].attr("style").display = "";
				});
			});
			function selectSize(elmt) {
				out = "";
				for(i in elmt) {
					out += i + ": " + elmt[i] +"\n";
				}
				console.log("out>>"+out);
			}

			function next() {
				tempForm = document.getElementById("item");
				document.getElementById("return").value="item";
				tempForm.submit();
			}
		</script>
	</div>
</html>