<!DOCTYPE html>
<html layout:decorator="admin/layout/layout">
	<div layout:fragment="content">

		<section id="main-content">
			<section class="wrapper">
				<div class="row">
					<div class="col-lg-12">
						<h3 class="page-header"><i class="fa fa-file-text-o"></i> Settings</h3>
						<ol class="breadcrumb">
							<li><i class="fa fa-home"></i><a th:href="@{/admin/home}">Home</a></li>
							<li><i class="icon_document_alt"></i>Pages</li>
							<li><i class="fa fa-file-text-o"></i><span th:text="${page==null?'New Page':'Modify Page'}"></span></li>
						</ol>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<section class="panel">
							<header class="panel-heading">
								Web Page
							</header>
							<div class="panel-body">
								<div class="form">
									<form class="form-validate form-horizontal " id="page" name="page" method="post" th:action="@{/admin/page}">
										<div class="form-group ">
										    <label for="name" class="control-label col-lg-2">Name </label>
										    <div class="col-lg-10">
										        <input class="form-control " id="name" name="name" th:value="${page==null?'':page.name}" type="text" />
										    </div>
										</div>
										<div class="form-group ">
										    <label for="title" class="control-label col-lg-2">Title </label>
										    <div class="col-lg-10">
										        <input class="form-control " id="title" name="title" th:value="${page==null?'':page.title}" type="text" />
										    </div>
										</div>
										<div class="form-group ">
										    <label for="link" class="control-label col-lg-2">Link URL </label>
										    <div class="col-lg-10">
										        <input class="form-control " id="link" name="link" th:value="${page==null?'':page.link}" type="text" />
										    </div>
										</div>
										<!-- <div class="form-group">
											<label for="image" class="control-label col-lg-2">Image <span class="required">*</span></label>
											<div class="col-lg-2">
												<div class="myLabel">
													<input type="file" id="uploadBtn" name="picture">
													<span class="col-lg-4 col-md-4">+ Add Image</span>
												</div>
											</div>
											<div class="col-lg-8" style="height: 36px;vertical-align: middle;">
												<span id="uploadFile"></span>
											</div>
											<p class="help-block">Example block-level help text here.</p>
										</div> -->
										<div class="form-group ">
										    <label for="imgwidth" class="control-label col-lg-2">Image Width </label>
										    <div class="col-lg-10">
										        <input class="form-control " id="imgwidth" name="imgwidth" th:value="${page==null?'':page.imgwidth}" type="text" />
										    </div>
										</div>
										<div class="form-group ">
										    <label for="imgheight" class="control-label col-lg-2">Image Height </label>
										    <div class="col-lg-10">
										        <input class="form-control " id="imgheight" name="imgheight" th:value="${page==null?'':page.imgheight}" type="text" />
										    </div>
										</div>
										<div class="form-group ">
										    <label for="comments" class="control-label col-lg-2">Comments </label>
										    <div class="col-lg-10">
										        <textarea class="form-control " id="comments" name="comments" th:value="${page==null?'':page.comments}" ></textarea>
										    </div>
										</div>
										<div class="form-group">
										    <div class="col-lg-offset-2 col-lg-10">
										        <button class="btn btn-primary" type="submit"> Save </button>
										        <button class="btn btn-default" type="button"> Cancel</button>
										        <input type="hidden" id="pageid" name="pageid" th:value="${page==null?'':page.pageid}" />
										    </div>
										</div>
									</form>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
		</section>
	</div>
</html>